[Desktop Entry]
Version=1.0
Type=Application
Name=ToneLib GFX (Docker)
Comment=Amp and effects modeling software for guitar and bass
Exec=/home/galvani/dev/tonelib-docker/run.sh
Path=/home/galvani/dev/tonelib-docker
Icon=/home/galvani/dev/tonelib-docker/tonelib-icon.png
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
StartupWMClass=ToneLib GFX
